<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <script src="js/vue.min.js"></script>
</head>
<body>
<div id="example">
    <p>Original message : "{{message}}"</p>
    <p>Computed reversed message : "{{reverseMessage}}"</p>
</div>
<script>
    var vm = new Vue({
        el:'#example',
        data:{
            message:'hello'
        },
        computed:{
            reverseMessage:function () {
                return this.message.split('').reverse().join('')
            }
        }
    })
</script>
</body>
</html>
